* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --primary-color: #2563eb;
  --primary-light: #dbeafe;
  --secondary-color: #7c3aed;
  --success: #22c55e;
  --warning: #facc15;
  --error: #ef4444;
  --text-primary: #111827;
  --text-secondary: #4b5563;
  --background: #f9fafb;
  --card-background: #ffffff;
}

img {
  width: 100%;
  height: 100%;
  aspect-ratio: 1/1;
  object-fit: contain;
  display: block;
}

input {
    padding: 1dvh 0.5dvw;
    border-radius: 5px;
  
}
